@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('./AppleSDGothicNeoL.woff') format('woff'),
    url('./AppleSDGothicNeoL.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('./AppleSDGothicNeoM.woff') format('woff'),
    url('./AppleSDGothicNeoM.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('./AppleSDGothicNeoB.woff') format('woff'),
    url('./AppleSDGothicNeoB.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('./AppleSDGothicNeoEB.woff') format('woff'),
    url('./AppleSDGothicNeoEB.woff2') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Apple SD Gothic Neo';
  src: url('./AppleSDGothicNeoH.woff') format('woff'),
    url('./AppleSDGothicNeoH.woff2') format('woff2');
  font-weight: 900;
}
