@font-face {
  font-family: 'Retro Gaming';
  src: url('./Retro\ Gaming.ttf');
  font-style: normal;
  font-weight: normal;
  line-height: 61px;
}

@font-face {
  font-family: 'Noto Sans KR Medium';
  src: url('./NotoSansKR-Medium.otf');
  line-height: 24px;
}

@font-face {
  font-family: Apple SD Gothic Neo B;
  src: url('./AppleSDGothicNeoB.ttf');
}

@font-face {
  font-family: Apple SD Gothic Neo L;
  src: url('./AppleSDGothicNeoL.ttf');
}

@font-face {
  font-family: Apple SD Gothic Neo EB;
  src: url('./AppleSDGothicNeoEB.ttf');
}

@font-face {
  font-family: Apple SD Gothic Neo H;
  src: url('./AppleSDGothicNeoH.ttf');
}

@font-face {
  font-family: Apple SD Gothic Neo M;
  src: url('./AppleSDGothicNeoM.ttf');
}
