.react-datepicker {
  border: none;
}

.react-datepicker__header {
  background: none;
  border: none;
  position: static;
}

.react-datepicker__day {
  font-size: 12px;
}

.sunday,
.react-datepicker__day-name:first-child {
  color: #e57ad9;
}

.saturday,
.react-datepicker__day-name:last-child {
  color: #65b2ee;
}

.react-datepicker__day--disabled,
.react-datepicker__day--outside-month {
  opacity: 0.1;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__day:hover {
  border-radius: 99em !important;
}
